[workspace]
members = [
    "del-msh-pyo3",
    "del-msh-core"
]
resolver = "2"

[workspace.package]
version = "0.1.36"
edition = "2021"
authors = ["Nobuyuki Umetani <n.umetani@gmail.com>"]
license = "MIT"
repository = "https://github.com/nobuyuki83/del-msh/"
description = "mesh utility library for computer graphics research and prototyping"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[workspace.dependencies]
anyhow = "1.0.86"
rand = "0.8.5"
rand_chacha = "0.3.1"
ordered-float = "4.2.1"
num-traits = "0.2.19"
nalgebra = "0.33.0"
arrayref = "0.3.7"
#
# del-geo-core = { path="../del-geo/del-geo-core"}
 #del-geo-nalgebra = { path="../del-geo/del-geo-nalgebra"}
del-geo-core = { git = "https://github.com/nobuyuki83/del-geo.git"}
del-geo-nalgebra = { git = "https://github.com/nobuyuki83/del-geo.git"}

