[package]
name = "del-msh"
version = "0.1.29"
edition = "2021"
authors = ["Nobuyuki Umetani <n.umetani@gmail.com>"]
license = "MIT"
repository = "https://github.com/nobuyuki83/del-msh/"
description = "mesh utility library for computer graphics research and prototyping"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rand = "0.8.5"
num-traits = "0.2.18"
nalgebra = "0.32.5"
ordered-float = "4.2.0"

del-geo = {path="../del-geo"}
# del-geo = "0.1.23"