name: CI

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Install Rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        profile: minimal
        default: true

    - name: Cargo commands
      run: |        
        cargo fmt --check
        cargo clippy -- -D warnings
        cargo build --release
        cargo test --release
        cargo doc --release
        cargo bench

    - run: |
        echo ${{ github.ref }}

    - if: startsWith( github.ref, 'refs/tags/v' )
      env:
        CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
      run: |
        cargo publish --package del-msh-core